Scraping data From Website

In [1]:
#Import necessary libraries
from bs4 import BeautifulSoup
import requests

In [2]:
#send HTTP GET request to the page
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)

#Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(page.text, 'html')

In [4]:
#To find the table with required info
table = soup.find_all('table')[1]

In [15]:
#Extract table headers
world_titles = table.find_all('th')

In [17]:
#To get text value of table headers
world_table_titles = [title.text.strip() for title in world_titles]

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [18]:
import pandas as pd

In [19]:
#Create a pandas dataframe for extracted data
df = pd.DataFrame(columns = world_table_titles)

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [21]:
#Extract table row data
column_data = table.find_all('tr')

In [28]:
#Get text value for table row datas
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [32]:
#To save dataframe to a CSV file
df.to_csv(r'C:\Users\Nsiegbe\Downloads\WebScraped1.csv', index = False)